

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
 
}

#nav{
        height: 50px;
        width: 100%;
         background-color: rgb(255, 0, 0);
        position: fixed;
        z-index: 999999;
     }
footer {
    height: 200px;
    clear: both;
    background-color: rgb(255, 255, 255);
}

#mainText{
    position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 50px;
        font-weight: bold;
        text-align: center;
}

#loginBox {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


button{
    width: 400px;
    height: 50px;
    background-color: rgb(255, 4, 4);
    border: none;
    margin: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(255, 104, 104);
}

#id {
    position: absolute;
    left: 40px;
    top: 70px;
    border: 0.4px solid rgb(121, 115, 115);
    border-radius: 15px;
    width: 420px;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

#password {
    position: absolute;
    top: 160px;
    border: 0.4px solid rgb(121, 115, 115);
    border-radius: 15px;
    width: 420px;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    left: 40px;
}
.check{
    position: absolute;
    margin-bottom: 10px;
}

.login-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; /* 버튼 사이 간격 */
    margin-top: 180px; /* 전체 위치 아래로 내리고 싶으면 조정 */
}

#logBtn, #joBtn {
    width: 300px;
    font-size: 25px;
    color: #fff;
    background-color: #e60000;
    border: none;
    padding: 5px 0;
    border-radius: 8px;
    cursor: pointer;
}


#login {
    position: absolute;
    width: 300px;
    font-size: 25px;
    left: 12%;
    top: 13%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}



#find2{

  position: relative;
}

#findId{

    position: absolute;
    bottom: 10%;
    left: 30%;
    right: 0%;
    margin: auto;
    z-index: 3;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#findPw{

    position: absolute;
    bottom: 10%;
    left: 50%;
    right: 0;
    margin: auto;
    z-index: 3;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#findId:hover{
    color: rgb(112, 111, 111);
}
#findPw:hover{
    color: rgb(112, 111, 111);
}

#bottom_p {
    position: absolute;
    width: 40%;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}